.home {
  background-image: url('../../images/background-hero-3.png');
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  @media (min-width: 801px) {
    background-size: 100%;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    opacity: .8;
    background-color: #fff;
  }
  &__content {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      justify-content: space-between;
    }
  }
  &__info {
    text-align: center;
    @media screen and (min-width: 768px) {
      width: 48%;
    }
    a {
      display: block;
      max-width: 130px;
      margin: 2rem auto 0;
    }
    &--description {
      h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      p {
        color: #777;
        font-size: 16px;
      }
    }
  }
  &__image {
    @media screen and (min-width: 768px) {
      width: 48%;
    }
    img {
      max-width: 100%;
    }
  }
}