.home {
  &__content {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      justify-content: space-between;
    }
  }
  &__info {
    text-align: center;
    @media screen and (min-width: 768px) {
      width: 48%;
    }
    a {
      display: block;
      max-width: 130px;
      margin: 2rem auto 0;
    }
    &--description {
      h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      p {
        color: #777;
        font-size: 16px;
      }
    }
  }
  &__image {
    @media screen and (min-width: 768px) {
      width: 48%;
    }
    img {
      max-width: 100%;
    }
  }
}