.userDetail {
  &__content {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
  }
  &__actions {
    position: absolute;
    top: 3%;
    right: 0;
    z-index: 2;
    button {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
    }
    svg {
      width: 25px;
      height: 25px;
      margin-right: 1rem;
      background: rgba(0,0,0,.5);
      color: #fff;
      border-radius: 50%;
      padding: .5rem;
      cursor: pointer;
    }
  }
}