.users {
  &__actions {
    padding: 2rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--new {
      text-align: right;
      order: 2;
      svg {
        padding: .7rem;
        border-radius: 50%;
        background-color: $color-primary;
        fill: $color-very-ligth;
        stroke: $color-very-ligth;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }
    &--search {
      width: 70%;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem 0;
    padding: 2rem 0;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      margin: 0 auto;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}