.hero {
  background-color: #ddd;
  margin-bottom: 2rem;
  &__content {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  img {
    max-width: 45%;
    @media screen and (min-width: 768px) {
      width: 25%;
    }
  }
  h1 {
    font-size: 40px;
  }
}