.hero {
  background-image: url('../../images/background-hero-3.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  margin-bottom: 2rem;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    opacity: .8;
    background-color: #fff;
  }
  &__content {
    position: relative;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  img {
    max-width: 45%;
    @media screen and (min-width: 768px) {
      width: 25%;
    }
  }
  h1 {
    font-size: 40px;
  }
}